name: Build and Deploy Java WAR to EC2

on:
  push:
  workflow_dispatch:  # Enables manual triggering from the Actions tab

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      JAVA_VERSION: '17'
      WAR_NAME: 'dptweb-1.0.war'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'

      - name: Build with Maven
        run: |
          cd 'DevOps Project-01/Java-Login-App'
          mvn clean package
      - name: list compiled files
        run: |
          cd 'DevOps Project-01/Java-Login-App'
          ls -la target

      - name: Deploy WAR to EC2
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_USER: ${{ secrets.EC2_USER }}
          SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
          BASTION_HOST: ${{ secrets.BASTION_HOST }}
        run: |
          cd 'DevOps Project-01/'
          echo "$SSH_KEY" > key.pem
          chmod 600 key.pem          
          bash scripts/deploy-war.sh \
            --host "$EC2_HOST" \
            --user "$EC2_USER" \
            --key "key.pem" \
            --war "Java-Login-App/target/${{ env.WAR_NAME }}"
            --BASTION_HOST "$BASTION_HOST"
